/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
}

app-root {
    .loading {
        height: 100vh;
        width: 100vw;
        line-height: 100vh;
        text-align: center;
    }
}